<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703400968272-sg7k4h5lcgp82rlkqef2rdq9u4l1q6uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703400968272-sg7k4h5lcgp82rlkqef2rdq9u4l1q6uu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>703400968272-l2c9n62vj0bmpnhoh6pvs394r74s6l0c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCASraUYTYq3hLp7HYXL3utfQF1SSADYMo</string>
	<key>GCM_SENDER_ID</key>
	<string>703400968272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rotterdam.futibas.FutibasRotterdam</string>
	<key>PROJECT_ID</key>
	<string>futibas-76c50</string>
	<key>STORAGE_BUCKET</key>
	<string>futibas-76c50.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703400968272:ios:7eacc96b441ba5cd249155</string>
</dict>
</plist>